.mypage {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.mypage .mypage_info {
  margin-top: 100px;
  width: 30%;
  padding: 40px 20px;
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 80%);
  color: #fff;
  background: #000;
}

.mypage .mypage_info h3 {
  font-size: 30px;
  font-weight: 400;
}

.mypage .mypage_info h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}

.mypage .mypage_info a {
  display: block;
  font-size: 12px;
  background: #fff;
  padding: 10px 5px;
  border: 1px solid #fff;
  width: 129px;
  margin: 30px 0 0 auto;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.mypage .order_section_tit {
  width: 100%;
  margin: 100px 0 0;
  font-size: 28px;
  border-bottom: 2px solid #000;
  padding-bottom: 15px;
}

.mypage .order {
  margin-bottom: 200px;
}
.mypage .order_section {
  width: 100%;
  border-bottom: 1px solid #000;
}

.mypage .order_section .order_info {
  border-bottom: 1px solid #d7d7d7;
  height: 50px;
  line-height: 50px;
}

.mypage .order_section .order_info .order_num {
  margin-left: 10px;
  padding-left: 12px;
  border-left: 1px solid #333;
}
.mypage .order_section .order_info > a {
  float: right;
  font-size: 14px;
}

.mypage .order_section .order_product table {
  width: 100%;
}

.mypage .order_section .order_product th {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #d7d7d7;
}

.mypage .order_section .order_product td {
  text-align: center;
  padding: 30px 0;
}
.mypage .order_section .order_product td.product_info {
  text-align: left;
  padding-left: 80px;
}
.mypage .order_section .order_product td.product_info p + p {
  margin-top: 5px;
}
