@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

body,
html {
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.wrap {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  font-size: 11px;
  font-weight: bold;
  padding: 0 20px;
  transition: 0.4s ease;
  z-index: 1;
}

.header.on {
  background: #000;
  color: #fff;
}
.header.sub_h {
  height: 85px;
}

.header.sub_h.on {
  height: 85px;
}
.header.on .nav > li a {
  color: #fff;
}

.header.on .sub_menu a {
  color: #fff;
}
.header.off {
  background: #fff;
  color: #000;
}

.header.off .nav > li a {
  color: #000;
}

.logo {
  width: 190px;
  height: 60px;
  float: left;
  cursor: pointer;
}
.logo img {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px;
}
.menu {
  width: 500px;
  height: 100%;
  float: left;
}
.nav {
  width: 90%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  margin: auto;
}
.nav li {
  float: left;
  width: 25%;
  margin: auto;
  font-size: 13px;
}
.nav li a {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.15s ease;
}

.sub_menu {
  width: 190px;
  height: 100%;
  float: right;
  line-height: 60px;
}
.sub_menu a {
  width: 80px;
  height: 100%;
  float: left;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  transition: 0.15s ease;
}

.clothing_menu {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  display: none;
}
.clothing_menu ul {
  display: flex;
  width: 470px;
  height: 25px;
  line-height: 25px;
}
.clothing_menu ul li {
  width: calc(100% / 6);
}
.clothing_menu ul li a {
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  height: 100%;
}

.clothing_menu.on {
  opacity: 1;
  display: block;
}

.main_section {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  padding-top: 60px;
}

.main_section > img {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.footer {
  width: 100%;
  height: 40px;
  font-size: 11px;
  line-height: 40px;
  font-weight: bold;
  background: #000;
  color: #fff;
}
.copy {
  float: left;
  width: 10%;
  height: 100%;
  text-align: center;
}
.foot_menu {
  width: 15%;
  height: 100%;
  float: left;
  margin-left: 20px;
}
.foot_menu li {
  float: left;
  width: 25%;
  margin: auto;
}
.foot_menu li a {
  color: #fff;
}
.foot_menu li:last-child {
  width: 40%;
}
.foot_section {
  width: 50%;
  height: 100%;
  float: left;
  font-size: 10px;
  line-height: 13px;
  padding-top: 8px;
  color: #888;
  margin-left: 50px;
}
.SNS {
  width: 10%;
  height: 100%;
  float: right;
  text-align: right;
  margin-right: 40px;
}
.SNS span {
  cursor: pointer;
}
.nav li a:hover {
  color: #999 !important;
}
.sub_menu a:hover {
  color: #999 !important;
}
.foot_menu li a:hover {
  color: #999;
}
.SNS span:hover {
  color: #999;
}

@media (max-width: 1220px) {
  .section {
    height: 92%;
  }
  .footer {
    height: 8vh;
  }
  .copy {
    width: 150px;
    margin-left: 3%;
    height: 50%;
  }
  .foot_menu {
    height: 50%;
  }
  .foot_section {
    padding: 0;
    margin-left: 3%;
    clear: both;
    height: 50%;
  }
  .SNS {
    line-height: 100%;
    height: 50%;
  }
}

@media (max-width: 750px) {
  .wrap {
    background: url(../image/responsive_main.jpg) center center;
  }
  .header {
    display: none;
  }
  .res_header {
    display: block;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 2;
  }
  .Layer_1 {
    cursor: pointer;
  }
  .res_logo {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .menu_btn {
    position: absolute;
    width: 27px;
    height: 21px;
    transition: 0.3s ease-in-out;
    margin-right: 50px;
    z-index: 9;
    top: 54%;
    left: 3%;
    transform: translateY(-50%);
  }
  .menu_btn span {
    position: absolute;
    height: 1px;
    border-radius: 5%;
    width: 90%;
    background: #fff;
    transition: 0.4s ease;
    z-index: 9;
  }
  .menu_btn span:nth-child(1) {
    top: 0;
  }
  .menu_btn span:nth-child(2),
  .menu_btn span:nth-child(3) {
    top: 8px;
  }
  .menu_btn span:nth-child(4) {
    top: 16px;
  }
  .menu_btn.active span:nth-child(1),
  .menu_btn.active span:nth-child(4) {
    opacity: 0;
  }
  .menu_btn.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu_btn.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .res_menu {
    width: 50%;
    height: 100vh;
    background: #000;
    padding-left: 5%;
    transition: 0.8s ease;
    position: fixed;
    top: 0;
    left: -50%;
    z-index: 1;
    display: block;
  }
  .res_menu .menu {
    width: 50%;
    height: auto;
    margin-top: 100px;
    float: none;
  }
  .res_menu .nav {
    text-align: left;
    width: 100%;
  }
  .res_menu .nav li {
    float: none;
    width: 100%;
  }
  .res_menu .sub_menu {
    float: none;
    width: 50%;
    height: auto;
    margin-top: 100px;
  }
  .res_menu .sub_menu span {
    display: inline-block;
    width: auto;
  }
  .res_menu.visible {
    left: 0;
  }
  .section {
    height: 83%;
  }

  .footer {
    height: 15vh;
    position: relative;
  }
  .copy {
    height: 28%;
    width: 100%;
    display: block;
    text-align: left;
  }
  .foot_menu {
    height: 35%;
    width: 70%;
    margin-left: 3%;
  }
  .foot_menu li {
    width: 20%;
  }
  .foot_section {
    height: 37%;
    display: block;
    width: 100%;
    padding: 0 3%;
    margin: 0;
  }
  .SNS {
    height: 20%;
    position: absolute;
    top: 42%;
    right: 0;
    margin-right: 3%;
  }
}
